<div class="py-5" id="About">
    <div class="container">
        <div class="row">
    <div class="col-md-12">
        <h2 class="text-center">About Me</h2>
        <div class="line m-auto  "></div>
        <p class=" pt-3 about "> Sara Taher

Front-end developer  (Angular), Egyptian. 
Bachelor's degree in Computer  and Information, Information Systems Department, Assiut University, 
Completed a one-week  Introduction to web  Technologies training course at ITI, 
Currently undergoing front-end development training as part of the "Digital Egypt Pioneers" initiative by the Ministry of Communications. </p>

    </div>
</div>
    </div>
</div>
