<div class="py-5" id="About">
    <div class="container">
        <div class="row">
    <div class="col-md-12">
        <h2 class="text-center">About Me</h2>
        <div class="line m-auto  "></div>
        <p class=" pt-3 about "> Sara Taher Sabry

Front-end Developer(Angular) , Egyptian, 

Graduated from the Faculty of Computers and Information, Department of Information Systems, Assiut University, 2023
, Completed a one-week  Introduction to web  Technologies training course at ITI, 
Currently participating in the Digital Egypt Pioneers Initiative of the Ministry of Communications.</p>

    </div>
</div>
    </div>
</div>
