<section class="py-5" >
    <div class="container">
        <div data-aos="fade-up">
            <h2 class="text-center text-white">About Me</h2>

            <div class="line m-auto  "></div>
        </div>
        <div class="row">
    <div class="col-md-12">
        <div class="p-3">
            <ul class="list-unstyled text-white"  >
                <li data-aos="fade-up" class="p-1"> Front-end developer  (Angular), Egyptian.</li>
                <li data-aos="fade-up"class="p-1">Bachelor's degree in Computer  and Information, Information Systems Department, Assiut University.</li>
                <li data-aos="fade-up" class="p-1">Completed a one-week  Introduction to web  Technologies training course at ITI.</li>
                <li data-aos="fade-up" class="p-1">    Currently undergoing front-end development training as part of the "Digital Egypt Pioneers" initiative by the Ministry of Communications.</li>
            </ul>
            </div>

    </div>
</div>
    </div>
</section>
