<div class="py-5" id="Projects">
    <div class="container">
        <div class="row">
    <div class="col-md-10 m-auto">
        <h2 class="text-center ">Projects</h2>
        <div class="line m-auto  "></div>
      <div class="row shadow-sm pt-3 gy-3">
        <div class="col-md-4">
            <div class="card project bg-transparent p-5 h-100">
                <div class="card-img pb-5 pt-2">
                    <div id="carouselExample" class="carousel slide">
                        <div class="carousel-inner w-100">
                          <div class="carousel-item active">
                            <img src="../../../assets/img/E-Commerce/Capturem.PNG" class="d-block w-100" alt="...">
                          </div>
                          <div class="carousel-item">
                            <img src="../../../assets/img/E-Commerce/Captureo.PNG" class="d-block w-100" alt="...">
                          </div>
                          <div class="carousel-item">
                            <img src="../../../assets/img/E-Commerce/Capturen.PNG" class="d-block w-100" alt="...">
                          </div>
                          <div class="carousel-item">
                            <img src="../../../assets/img/E-Commerce/Capturep.PNG" class="d-block w-100" alt="...">
                          </div>
                          <div class="carousel-item">
                            <img src="../../../assets/img/E-Commerce/CapturePo.PNG" class="d-block w-100" alt="...">
                          </div>
                          <div class="carousel-item">
                            <img src="../../../assets/img/E-Commerce/Capturepoo.PNG" class="d-block w-100" alt="...">
                          </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Next</span>
                        </button>
                      </div>
                </div>
                <h4 class="card-title text-center text-white">E-Commerce <span class="text-main">Angular</span></h4>
             
                <p class="card-desc text-white">Project talking about E-Commerce Responsive 100%

                </p>

<div class="card-footer">
<div class="d-flex justify-content-between p-1">
    <a href="https://github.com/sarautaher/final-Project--angular"class="icon-link "target="_blank"> <span class="badge rounded-pill footer-item bg-maim"><i class="fa-brands fa-github  m-2"></i>Preview</span></a>
    <a href="https://final-project-angular-git-master-sarautahers-projects.vercel.app/register"class="icon-link  "target="_blank"> <span class=" text-icon badge footer-item rounded-pill bg-dark"><i class="fas fa-link m-2"></i> GitHub</span></a>

</div>
</div>
            </div>
          
        </div>
        <div class=" col-md-4">
            <div class="card bg-transparent project p-5 h-100">
                <div class="card-img">
                    <video controls autoplay class="w-100" muted>
                        <source src="../../../assets/img/km_20240523-1_1080p.mp4" type="video/mp4" >
                    </video>
                </div>
                <h4 class="card-title text-center text-white">Yummy App <span class="text-main">Angular</span></h4>
              
                
                <p class="card-desc text-white">Project talking about Yummy Responsive 95%

                </p>
<div class="card-footer">
<div class="d-flex justify-content-between p-1">
    <a href="https://github.com/sarautaher/YummyAnguler"class="icon-link " target="_blank"> <span class="badge rounded-pill footer-item  bg-maim"><i class="fa-brands fa-github  m-2"></i>Preview</span></a>
    <a href="https://yummy-anguler.vercel.app/login"class="icon-link  " target="_blank"> <span class="badge rounded-pill footer-item text-icon bg-dark"><i class="fas fa-link m-2"></i> GitHub</span></a>

</div>
</div>
                    
            </div>
            
          
        </div>
        <div class=" col-md-4">
            <div class="card project bg-transparent p-5 h-100">
                <div class="card-img">
                    <video controls autoplay class="w-100" muted>
                        <source src="../../../assets/img/New folder/km_20240614_1080p.mp4" type="video/mp4" >
                    </video>
                </div>
                <h4 class="card-title text-center text-white">DevFolio <span class="text-main">Bootstrap</span></h4>
            
                
              
<p class="card-desc text-white">Project talking about DevFolio Responsive 80%

</p>
<div class="card-footer">
<div class="d-flex justify-content-between p-1">
    <a href="https://github.com/sarautaher/DevFolio"class="icon-link " target="_blank"> <span class="badge rounded-pill footer-item  bg-maim"><i class="fa-brands fa-github  m-2"></i>Preview</span></a>
    <a href="https://sarautaher.github.io/DevFolio/"class="icon-link  " target="_blank"> <span class="badge rounded-pill footer-item text-icon bg-dark"><i class="fas fa-link m-2"></i> GitHub</span></a>

</div>
</div>
                    
            </div>
             </div>
             <div class="col-md-4">
                <div class="card project bg-transparent p-5 h-100">
                    <div class="card-img pb-5 pt-2">

                        <div id="demo" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-indicators">
                              <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
                              <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
                              <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
                              <button type="button" data-bs-target="#demo" data-bs-slide-to="3"></button>
                            </div>
                          
                           
                            <div class="carousel-inner">
                              <div class="carousel-item active">
                                <img src="../../../assets/img/Mealify/Capture.PNG" class="d-block w-100" alt="...">
                              </div>
                              <div class="carousel-item">
                                <img src="../../../assets/img/Mealify/Capture2.PNG" class="d-block w-100" alt="...">
                              </div>
                              <div class="carousel-item">
                                <img src="../../../assets/img/Mealify/Capture3.PNG" class="d-block w-100" alt="...">
                              </div>
                              <div class="carousel-item">
                                <img src="../../../assets/img/Mealify/Capture4.PNG" class="d-block w-100" alt="...">
                              </div>
                            </div>
                          
                            
                            <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
                              <span class="carousel-control-prev-icon"></span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
                              <span class="carousel-control-next-icon"></span>
                            </button>
                          </div>
                          

                       


                          </div>

                       
                    <h4 class="card-title text-center text-white">Mealify<span class="text-main">HTML ,CSS</span></h4>
                 
                    <p class="card-desc text-white">Project talking about Mealify Responsive 70%

                    </p>

<div class="card-footer">
    <div class="d-flex justify-content-between p-1">
        <a href="https://github.com/sarautaher/Mealify"class="icon-link " target="_blank"> <span class="badge rounded-pill footer-item bg-maim"><i class="fa-brands fa-github  m-2"></i>Preview</span></a>
        <a href="https://sarautaher.github.io/Mealify/"class="icon-link " target="_blank"> <span class="badge footer-item rounded-pill  text-icon bg-dark"><i class="fas fa-link m-2"></i> GitHub</span></a>

    </div>
</div>
                </div>
              
            </div>

            <div class="col-md-4">
                <div class="card project bg-transparent p-5 h-100">
                    <div class="card-img pb-5 pt-2">


                      <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-indicators">
                          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                        </div>
                        <div class="carousel-inner">
                          <div class="carousel-item active">
                            <img src="../../../assets/img/jquet/Capture.PNG" class="d-block w-100" alt="...">
                          </div>
                          <div class="carousel-item">
                            <img src="../../../assets/img/jquet/Capture1.PNG" class="d-block w-100" alt="...">
                          </div>
                          <div class="carousel-item">
                            <img src="../../../assets/img/jquet/Capture3.PNG" class="d-block w-100" alt="...">
                          </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Next</span>
                        </button>
                      </div>

                          </div>

                       
                    <h4 class="card-title text-center text-white">Home<span class="text-main">HTML ,CSS ,Jquery</span></h4>
                 
                    <p class="card-desc text-white">Project talking about Home page Responsive 80%

                    </p>

<div class="card-footer">
    <div class="d-flex justify-content-between p-1">
        <a href="https://github.com/sarautaher/Home"class="icon-link " target="_blank"> <span class="badge rounded-pill footer-item bg-maim"><i class="fa-brands fa-github  m-2"></i>Preview</span></a>
        <a href="https://sarautaher.github.io/Home/"class="icon-link " target="_blank"> <span class="badge footer-item rounded-pill  text-icon bg-dark"><i class="fas fa-link m-2"></i> GitHub</span></a>

    </div>
</div>
                </div>
              
            </div>
            <div class="col-md-4">
              <div class="card project bg-transparent p-5 h-100">
                  <div class="card-img pb-5 pt-2">

                      <div id="demo" class="carousel slide" data-bs-ride="carousel">
                          <div class="carousel-indicators">
                            <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
                            <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
                           
                          </div>
                        
                         
                          <div class="carousel-inner">
                            <div class="carousel-item active">
                              <img src="../../../assets/img/weaher/Capture.PNG" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                              <img src="../../../assets/img/weaher/Capture2.PNG" class="d-block w-100" alt="...">
                            </div>
                            
                          </div>
                        
                          
                          <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon"></span>
                          </button>
                          <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
                            <span class="carousel-control-next-icon"></span>
                          </button>
                        </div>
                        

                     


                        </div>

                     
                  <h4 class="card-title text-center text-white">weather<span class="text-main">JavaScript</span></h4>
               
                  <p class="card-desc text-white">Project talking about weather Responsive 80%

                  </p>

<div class="card-footer">
  <div class="d-flex justify-content-between p-1">
      <a href="https://github.com/sarautaher/weather-App"class="icon-link "  target="_blank"> <span class="badge rounded-pill footer-item bg-maim"><i class="fa-brands fa-github  m-2"></i>Preview</span></a>
      <a href="https://sarautaher.github.io/weather-App/"class="icon-link "  target="_blank"> <span class="badge footer-item rounded-pill  text-icon bg-dark"><i class="fas fa-link m-2"></i> GitHub</span></a>

  </div>
</div>
              </div>
            
          </div>

      </div>
    </div>
</div>
    </div>
</div>