<section class="py-5"id="Projects" >
  <div class="container">
    <div class="row shadow-sm  text-center  gy-5">
      <div class="col-12" data-aos="fade-up">
        <h2 class="text-center text-white ">Projects</h2>
        <div class="line m-auto  "></div>
        </div>
      <div class="col-md-4" data-aos="zoom-in">
          <div class="card project bg-transparent w-75 h-100  rounded-5  m-auto">
              <div class="card-img p-5">
                <owl-carousel-o [options]="customOptions">
                  <ng-template carouselSlide>  <img src="../../../assets/img/E-Commerce/1.PNG" class="d-block w-100" alt="..."></ng-template>  
                  <ng-template carouselSlide>  <img src="../../../assets/img/E-Commerce/2.PNG" class="d-block w-100" alt="..."></ng-template>  
                  <ng-template carouselSlide>  <img src="../../../assets/img/E-Commerce/3.png" class="d-block w-100" alt="..."></ng-template>
                  <ng-template carouselSlide>  <img src="../../../assets/img/E-Commerce/4.PNG" class="d-block w-100" alt="..."></ng-template>  
                  <ng-template carouselSlide>  <img src="../../../assets/img/E-Commerce/5.PNG" class="d-block w-100" alt="..."></ng-template>  
                  <ng-template carouselSlide>  <img src="../../../assets/img/E-Commerce/6.PNG" class="d-block w-100" alt="..."></ng-template>  
                  <ng-template carouselSlide>  <img src="../../../assets/img/E-Commerce/7.PNG" class="d-block w-100" alt="..."></ng-template>    
                  <ng-template carouselSlide>  <img src="../../../assets/img/E-Commerce/8.PNG" class="d-block w-100" alt="..."></ng-template>  
                </owl-carousel-o>
              </div>
              <h4 class="card-title text-center text-white">E-Commerce <span class="text-main">Angular</span></h4>
              <p class="card-desc text-white">Project talking about E-Commerce Responsive 100%
              </p>
<div class="card-footer">
<div class="d-flex justify-content-between p-1">
  <a href="https://github.com/sarautaher/final-Project--angular"class="icon-link "target="_blank"> <span class="badge rounded-pill footer-item bg-maim"><i class="fa-brands fa-github  m-2"></i>Preview</span></a>
  <a href="https://final-project-angular-git-master-sarautahers-projects.vercel.app/register"class="icon-link  "target="_blank"> <span class=" text-icon badge footer-item rounded-pill bg-dark"><i class="fas fa-link m-2"></i> GitHub</span></a>
</div>
</div>
          </div>
      </div>
       <div class="col-md-4" data-aos="zoom-in">
        <div class="card project bg-transparent w-75 h-100  rounded-5  m-auto">
            <div class="card-img p-5">
              <owl-carousel-o [options]="customOptions">
                <ng-template carouselSlide>  <img src="../../../assets/img/moive/1.PNG" class="d-block w-100" alt="..."></ng-template>  
                <ng-template carouselSlide>  <img src="../../../assets/img/moive/2.PNG" class="d-block w-100" alt="..."></ng-template>  
                <ng-template carouselSlide>  <img src="../../../assets/img/moive/3.PNG" class="d-block w-100" alt="..."></ng-template>
                <ng-template carouselSlide>  <img src="../../../assets/img/moive/4.PNG" class="d-block w-100" alt="..."></ng-template>  
                <ng-template carouselSlide>  <img src="../../../assets/img/moive/5.PNG" class="d-block w-100" alt="..."></ng-template>  
                <ng-template carouselSlide>  <img src="../../../assets/img/moive/6.PNG" class="d-block w-100" alt="..."></ng-template>  
                <ng-template carouselSlide>  <img src="../../../assets/img/moive/7.PNG" class="d-block w-100" alt="..."></ng-template>    
                <ng-template carouselSlide>  <img src="../../../assets/img/moive/8.PNG" class="d-block w-100" alt="..."></ng-template>  
                <ng-template carouselSlide>  <img src="../../../assets/img/moive/9.PNG" class="d-block w-100" alt="..."></ng-template> 
              </owl-carousel-o>
            </div>
            <h4 class="card-title text-center text-white">Movie & Games <span class="text-main">Angular</span></h4>
            <p class="card-desc text-white">Project talking about Movie Responsive 100% and Dark mode
            </p>
<div class="card-footer">
<div class="d-flex justify-content-between p-1">
<a href="https://github.com/sarautaher/movie-prouct-games"class="icon-link "target="_blank"> <span class="badge rounded-pill footer-item bg-maim"><i class="fa-brands fa-github  m-2"></i>Preview</span></a>
<a href="https://movie-prouct-games.vercel.app/home"class="icon-link  "target="_blank"> <span class=" text-icon badge footer-item rounded-pill bg-dark"><i class="fas fa-link m-2"></i> GitHub</span></a>
</div>
</div>
        </div>
    </div>
      <div class=" col-md-4"data-aos="zoom-in">
          <div class="card bg-transparent project w-75 h-100  rounded-5  m-auto">
              <div class="card-img p-5">
                  <video controls  class="w-100" muted>
                      <source src="../../../assets/img/km_20240523-1_1080p.mp4" type="video/mp4" >
                  </video>
              </div>
              <h4 class="card-title text-center text-white">Yummy App <span class="text-main">Angular</span></h4>
              <p class="card-desc text-white">Project talking about Yummy Responsive 95%
              </p>
<div class="card-footer">
<div class="d-flex justify-content-between p-1">
  <a href="https://github.com/sarautaher/YummyAnguler"class="icon-link " target="_blank"> <span class="badge rounded-pill footer-item  bg-maim"><i class="fa-brands fa-github  m-2"></i>Preview</span></a>
  <a href="https://yummy-anguler.vercel.app/login"class="icon-link  " target="_blank"> <span class="badge rounded-pill footer-item text-icon bg-dark"><i class="fas fa-link m-2"></i> GitHub</span></a>
</div>
</div>  
          </div>
      </div>
      <div class=" col-md-4"  data-aos="zoom-in">
          <div class="card project bg-transparent w-75 h-100  rounded-5  m-auto">
              <div class="card-img p-5">
                  <video controls class="w-100" muted>
                      <source src="../../../assets/img/New folder/2.mp4" type="video/mp4" >
                  </video>
              </div>
              <h4 class="card-title text-center text-white">DevFolio <span class="text-main">Bootstrap</span></h4>           
<p class="card-desc text-white">Project talking about DevFolio Responsive 80%
</p>
<div class="card-footer">
<div class="d-flex justify-content-between p-1">
  <a href="https://github.com/sarautaher/DevFolio"class="icon-link " target="_blank"> <span class="badge rounded-pill footer-item  bg-maim"><i class="fa-brands fa-github  m-2"></i>Preview</span></a>
  <a href="https://sarautaher.github.io/DevFolio/"class="icon-link  " target="_blank"> <span class="badge rounded-pill footer-item text-icon bg-dark"><i class="fas fa-link m-2"></i> GitHub</span></a>
</div>
</div> 
          </div>
           </div>
           <div class="col-md-4" data-aos="zoom-in">
              <div class="card project bg-transparent w-75 h-100  rounded-5  m-auto">
                  <div class="card-img p-5 ">
                    <owl-carousel-o [options]="customOptions">
                      <ng-template carouselSlide>  <img src="../../../assets/img/Mealify/Capture.PNG" class="d-block w-100" alt="..."></ng-template>  
                      <ng-template carouselSlide>  <img src="../../../assets/img/Mealify/Capture2.PNG" class="d-block w-100" alt="..."></ng-template>  
                      <ng-template carouselSlide> <img src="../../../assets/img/Mealify/Capture3.PNG" class="d-block w-100" alt="..."></ng-template>
                      <ng-template carouselSlide> <img src="../../../assets/img/Mealify/Capture4.PNG" class="d-block w-100" alt="..."></ng-template>  
                    </owl-carousel-o>
                        </div>
                  <h4 class="card-title text-center text-white">Mealify<span class="text-main">HTML ,CSS</span></h4>
                  <p class="card-desc text-white">Project talking about Mealify Responsive 70%
                  </p>
<div class="card-footer">
  <div class="d-flex justify-content-between p-1">
      <a href="https://github.com/sarautaher/Mealify"class="icon-link " target="_blank"> <span class="badge rounded-pill footer-item bg-maim"><i class="fa-brands fa-github  m-2"></i>Preview</span></a>
      <a href="https://sarautaher.github.io/Mealify/"class="icon-link " target="_blank"> <span class="badge footer-item rounded-pill  text-icon bg-dark"><i class="fas fa-link m-2"></i> GitHub</span></a>
  </div>
</div>
              </div>
          </div>
          <div class=" col-md-4" data-aos="zoom-in">
            <div class="card bg-transparent project w-75 h-100  rounded-5  m-auto">
                <div class="card-img p-5">
                    <video controls  class="w-100" muted>
                        <source src="../../../assets/img/km_20240703_1080p.mp4" type="video/mp4" >
                    </video>
                </div>
                <h4 class="card-title text-center text-white">موضوعي<span class="text-main"> HTML ,CSS,Bootstrap</span></h4>
                <p class="card-desc text-white">Project talking about موضوعي Responsive 95%
                </p>
  <div class="card-footer">
  <div class="d-flex justify-content-between p-1">
    <a href="https://github.com/sarautaher/-"class="icon-link " target="_blank"> <span class="badge rounded-pill footer-item  bg-maim"><i class="fa-brands fa-github  m-2"></i>Preview</span></a>
    <a href="https://sarautaher.github.io/-/"class="icon-link  " target="_blank"> <span class="badge rounded-pill footer-item text-icon bg-dark"><i class="fas fa-link m-2"></i> GitHub</span></a>
  </div>
  </div>  
            </div>
        </div>
          <div class="col-md-4" data-aos="zoom-in">
              <div class="card project bg-transparent w-75 h-100  rounded-5  m-auto">
                  <div class="card-img p-5 ">
                    <owl-carousel-o [options]="customOptions">
                      <ng-template carouselSlide>  <img src="../../../assets/img/jquet/Capture.PNG" class="d-block w-100" alt="..."></ng-template>  
                      <ng-template carouselSlide>  <img src="../../../assets/img/jquet/Capture1.PNG" class="d-block w-100" alt="..."></ng-template>  
                      <ng-template carouselSlide> <img src="../../../assets/img/jquet/Capture3.PNG" class="d-block w-100" alt="..."></ng-template>  
                    </owl-carousel-o>
                        </div>
                  <h4 class="card-title text-center text-white">Home<span class="text-main">HTML ,CSS ,Jquery</span></h4>
                  <p class="card-desc text-white">Project talking about Home page Responsive 80%
                  </p>
<div class="card-footer">
  <div class="d-flex justify-content-between p-1">
      <a href="https://github.com/sarautaher/Home"class="icon-link " target="_blank"> <span class="badge rounded-pill footer-item bg-maim"><i class="fa-brands fa-github  m-2"></i>Preview</span></a>
      <a href="https://sarautaher.github.io/Home/"class="icon-link " target="_blank"> <span class="badge footer-item rounded-pill  text-icon bg-dark"><i class="fas fa-link m-2"></i> GitHub</span></a>
  </div>
</div>
              </div>
          </div>
          <div class="col-md-4"  data-aos="zoom-in">
            <div class="card project bg-transparent w-75 h-100  rounded-5  m-auto">
                <div class="card-img p-5 ">
                  <owl-carousel-o [options]="customOptions">
                    <ng-template carouselSlide>  <img src="../../../assets/img/weaher/Capture.PNG" class="d-block w-100" alt="..."></ng-template>  
                    <ng-template carouselSlide>  <img src="../../../assets/img/weaher/Capture2.PNG" class="d-block w-100" alt="..."></ng-template>  
                  </owl-carousel-o>
                </div>
                <h4 class="card-title text-center text-white">weather<span class="text-main">JavaScript</span></h4>
                <p class="card-desc text-white">Project talking about weather Responsive 80%</p>
<div class="card-footer">
<div class="d-flex justify-content-between p-1">
    <a href="https://github.com/sarautaher/weather-App"class="icon-link "  target="_blank"> <span class="badge rounded-pill footer-item bg-maim"><i class="fa-brands fa-github  m-2"></i>Preview</span></a>
    <a href="https://sarautaher.github.io/weather-App/"class="icon-link "  target="_blank"> <span class="badge footer-item rounded-pill  text-icon bg-dark"><i class="fas fa-link m-2"></i> GitHub</span></a>
</div>
</div>
            </div>
        </div>
        <div class="col-md-4" data-aos="zoom-in">
          <div class="card project bg-transparent w-75 h-100  rounded-5  m-auto">
              <div class="card-img p-5">
                <owl-carousel-o [options]="customOptions">
                  <ng-template carouselSlide>  <img src="../../../assets/img/home/1.PNG"class="d-block w-100" alt="..."></ng-template>  
                  <ng-template carouselSlide>  <img src="../../../assets/img/home/2.PNG" class="d-block w-100" alt="..."></ng-template>
                  <ng-template carouselSlide>  <img src="../../../assets/img/home/3.PNG"class="d-block w-100" alt="..."></ng-template>  
                  <ng-template carouselSlide>  <img src="../../../assets/img/home/4.PNG" class="d-block w-100" alt="..."></ng-template> 
                  <ng-template carouselSlide>  <img src="../../../assets/img/home/5.PNG"class="d-block w-100" alt="..."></ng-template>  
                  <ng-template carouselSlide>  <img src="../../../assets/img/home/6.PNG" class="d-block w-100" alt="..."></ng-template> 
                  <ng-template carouselSlide>  <img src="../../../assets/img/home/7.PNG"class="d-block w-100" alt="..."></ng-template>  
                  <ng-template carouselSlide>  <img src="../../../assets/img/home/8.PNG" class="d-block w-100" alt="..."></ng-template>
                  <ng-template carouselSlide>  <img src="../../../assets/img/home/9.PNG"class="d-block w-100" alt="..."></ng-template>  
                  <ng-template carouselSlide>  <img src="../../../assets/img/home/10.PNG" class="d-block w-100" alt="..."></ng-template>    
                </owl-carousel-o>
                    </div>
              <h4 class="card-title text-center text-white">Home<span class="text-main">HTML ,CSS ,Bootrtsap</span></h4>
              <p class="card-desc text-white">Project talking about Home page Responsive 95%</p>
<div class="card-footer">
<div class="d-flex justify-content-between p-1">
  <a href="https://github.com/sarautaher/Home-bootstrap"class="icon-link " target="_blank"> <span class="badge rounded-pill footer-item bg-maim"><i class="fa-brands fa-github  m-2"></i>Preview</span></a>
  <a href="https://sarautaher.github.io/Home-bootstrap/"class="icon-link " target="_blank"> <span class="badge footer-item rounded-pill  text-icon bg-dark"><i class="fas fa-link m-2"></i> GitHub</span></a>
</div>
</div>
     </div>
      </div>
      <div class="col-md-4" data-aos="zoom-in">
        <div class="card project bg-transparent w-75 h-100  rounded-5  m-auto">
            <div class="card-img p-5 ">
              <owl-carousel-o [options]="customOptions">
                <ng-template carouselSlide>  <img src="../../../assets/img/foirk/1.PNG"class="d-block w-100" alt="..."></ng-template>  
                <ng-template carouselSlide>  <img src="../../../assets/img/foirk/2.PNG" class="d-block w-100" alt="..."></ng-template>
                <ng-template carouselSlide>  <img src="../../../assets/img/foirk/3.PNG"class="d-block w-100" alt="..."></ng-template>  
                <ng-template carouselSlide>  <img src="../../../assets/img/foirk/4.PNG" class="d-block w-100" alt="..."></ng-template> 
                <ng-template carouselSlide>  <img src="../../../assets/img/foirk/5.PNG"class="d-block w-100" alt="..."></ng-template>  
                <ng-template carouselSlide>  <img src="../../../assets/img/foirk/6.PNG" class="d-block w-100" alt="..."></ng-template> 
                <ng-template carouselSlide>  <img src="../../../assets/img/foirk/7.PNG"class="d-block w-100" alt="..."></ng-template>  
              </owl-carousel-o>
          </div>
  <h4 class="card-title text-center text-white">Fokir <span class="text-main">HTML ,CSS ,Bootrtsap</span></h4>
  <p class="card-desc text-white p-2">Project talking about Fokir page Responsive 95%   </p>
<div class="card-footer">
<div class="d-flex justify-content-between p-1">
<a href="https://github.com/sarautaher/Portfolio"class="icon-link " target="_blank"> <span class="badge rounded-pill footer-item bg-maim"><i class="fa-brands fa-github  m-2"></i>Preview</span></a>
<a href="https://sarautaher.github.io/Portfolio/"class="icon-link " target="_blank"> <span class="badge footer-item rounded-pill  text-icon bg-dark"><i class="fas fa-link m-2"></i> GitHub</span></a>
</div>
</div>
  </div>  
    </div>
    </div>
  </div>
</section>
