<div class="py-5" id="Contact">
    <div class="container">
        <div class="row">
    <div class="col-md-12">
        <h2 class="text-center">Contact</h2>
        <div class="line m-auto  "></div>
            <div class="row pt-3">
            
           <div  class="col-md-3"><span class=""> <a href=" tahersara591@gmail.com" target="_blank"class="icon-link  ">
            <i class="  p-2 icon fa-solid fa-message"></i> </a>  tahersara591  gmail.com</span></div>
           <div  class="col-md-3"><span class=" "> <a href="https://api.whatsapp.com/send/?phone=201203637757&text&type=phone_number&app_absent=0"target="_blank"class="icon-link  "> <i class="fa-brands fa-whatsapp  p-2 icon"></i></a>
            01203637757</span></div>
            <div  class="col-md-3"><span class="">  <a href=" https://khamsat.com/user/sara_taher12"class="icon-link  text-muted" target="_blank">
                <img src="../../../assets/img/310015250_476909057804805_8366169423422059991_n.png " width="25px" class="rounded-circle icon"> </a> </span>
</div>                 <div  class="col-md-3">  <span class=" text-muted"> 
     <a href=" https://mostaql.com/u/Sara_Taher12" class="icon-link  text-muted"target="_blank"><img src="../../../assets/img/facebook@2x.png" width="25px " class="rounded-circle icon"></a></span></div>

        </div>
   
     
    
    </div>
</div>
    </div>
</div>