<nav id="navbar-example" class='navbar pt-3 pb-1  navbar-expand-lg  navbar-dark   '  >
              
    <div class="container">

    <a class="navbar-brand fw text-main text-home" href="#Home"><i class="fa-solid fa-s fa-2x"></i>
       </a>
       
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
    
    <div class="collapse navbar-collapse" id="navbarNavDropdown"> 
   
        <ul  class="navbar-nav m-auto mt-2 mt-lg-0 text-white">
            <li class="nav-item active">
                <a class="nav-link  text-icon rounded-pill mx-2" href="#About">About </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link  text-icon rounded-pill mx-2" href="#Projects" >Projects</a>
            </li>
          
            <li class="nav-item ">
                <a class="nav-link  text-icon rounded-pill mx-2"href="#Skills" >Skills</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link text-icon rounded-pill mx-2" href="#Contact" >Contact</a>
            </li>
        </ul>
</div>
</div>
</nav>
