<header class="hv-100 py-5" id="Home">
    <div class="row  ">
        <div class="col-md-12 text-center">
            <img src="../../../assets/img/1696625104710-removebg-preview.png" class="w-25  rounded-circle">
        <h1>Hello,I'm <span class="text-main"> Sara Taher</span> </h1>
        <h1 class="">I'm <span class="auto-type text-main"></span></h1>
        <p  class="p-2 " >Welcome to my Portfolio ! I have created this website to showcase all of my projects. I hope you like it</p>
        <div class="py-3">  
           <a href="../../../assets/img/Sara-Taher-sabry-FlowCV-Resume-20240527.pdf"target="_blank" download> <button class="btn bg-maim rounded-pill ">CV Download<i class="fa-solid fa-download mx-2"></i>
            </button></a> </div>
            <div >
                <a href="https://www.linkedin.com/in/sara-taher-76496428b" class="icon-link mx-2 text-white" target="_blank"> <i class="fa-brands fa-linkedin rounded-circle p-2 icon fa-2x"></i></a>
              
                    <a href="https://github.com/sarautaher" target="_blank"class="icon-link text-white" > <i class="fa-brands fa-github rounded-circle  p-2 icon fa-2x"></i></a>
       
            </div>
            
       <div class="">
        <img src="../../../assets/img/log/OIP.jfif" width="40px"  height="40px" class="log mx-1 rounded-circle ">
       <img src="../../../assets/img/log/css.jfif" width="40px" height="40px" class=" log mx-1 rounded-circle">
        <img src="../../../assets/img/log/bootstrap.jfif" width="40px" height="40px" class=" log mx-1  rounded-circle">
         <img src="../../../assets/img/log/js.jfif" width="40px" height="40px" class="mx-1 log  rounded-circle">
        <img src="../../../assets/img/log/Jquery.jfif" width="40px"height="40px" class="  log mx-1 rounded-circle">
        <img src="../../../assets/img/log/ang.jfif" width="40px"height="40px"  class=" log mx-1 rounded-circle"><img src="../../../assets/img/log/github.jfif" width="40px"height="40px"  class="mx-1 log rounded-circle">
       </div>
                </div>
        
    </div>
        </header>