<section class="py-5" id="Skills" >
    <div class="container">    
     <div  class="py-5" data-aos="slide-left">
        <h2 class="text-center text-white" >My Skills</h2>
        <div class="line m-auto  "></div>
        </div>
       
                 <div class="row gy-3 gx-0 text-center" >
                <div class=" col-md-4    "data-aos="fade-right">
                  
                        <span class="badge rounded-pill mx-2  bg-maim  ">HTML</span>
                        <span class="badge rounded-pill mx-2 bg-maim  ">CSS</span>
                        <span class="badge rounded-pill mx-2 bg-maim  ">JavaScript</span>
                  </div>
                       <div class="col-md-4 " data-aos="fade-left"> 
                        <span class="badge rounded-pill mx-2 bg-maim  ">Bootstrap</span>
                        <span class="badge rounded-pill mx-2 bg-maim  ">Jquery</span>
                        <span class="badge rounded-pill mx-2 bg-maim  ">Angular</span>
                    </div>
                <div class="col-md-4 " data-aos="fade-right">
                 
                    <span class="badge rounded-pill mx-2 bg-maim  ">TypeScript</span>
                    <span class="badge rounded-pill mx-2 bg-maim  ">github</span>
                </div>
            </div>
      
     
</div>
   
</section>
