<div class="py-5" >
    <div class="container">
        <div class="row">
    <div class="col-md-12 text-center" id="Skills">
        <h2 class="text-center " >My Skills</h2>
        <div class="line m-auto  "></div>
        <div class="row pt-3">
            <div class="col-md-7 m-auto"> <div class="row gy-3 gx-0" >
                <div class=" col-md-4  skill ">
                  
                        <span class="badge rounded-pill mx-2  bg-maim  ">HTML</span>
                        <span class="badge rounded-pill mx-2 bg-maim  ">CSS</span>
                        <span class="badge rounded-pill mx-2 bg-maim  ">JavaScript</span>
                  </div>
                       
                       
                   
                    <div class="col-md-4 framework"> <span class="badge rounded-pill mx-2 bg-maim  ">Bootstrap</span>
                        <span class="badge rounded-pill mx-2 bg-maim  ">Jquery</span>
                        <span class="badge rounded-pill mx-2 bg-maim  ">Angular</span></div>
              
                
                <div class="col-md-4 cont">
                    <span class="badge rounded-pill mx-2 bg-maim  ">React</span>
                    <span class="badge rounded-pill mx-2 bg-maim  ">TypeScript</span>
                    <span class="badge rounded-pill mx-2 bg-maim  ">github</span>
                </div>
            </div></div>
        </div>
       
       
        
    </div>
</div>
    </div>
</div>
